torch
torchtext
transformers
datasets
huggingface-hub
sentence-transformers
sentencepiece
tokenizers
beir
pytrec-eval
rank-bm25
scikit-learn
scipy
numpy
pandas
matplotlib
nltk
jsonlines
pytorch-lightning
tqdm
wget
rouge
bert-score
openai
anthropic
wandb
